*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    height: auto;
    width: auto;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.3);
  
}
.banner{
    height: 912px;
}

/*Item Start*/
#item-header{
    position: relative;
    height:70px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: tomato;
}

#item-header>button{
    position: absolute;
    right: 6rem;
    top: 1rem;
}
#item-header>span{
    position: absolute;
    top: 0.8rem;
    font-size: 2em;
    color: white;

}

#form{
    width: 50em;
    border: 2px solid rgba(0, 0, 0, 0.3);
    
}

#form-header{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: royalblue;
    height: 50px;
    color: white;
}
#form-btn{
    position: relative;
    justify-content: end;
    align-items: flex-end;
    display: flex;
}